.main{
    width: 40%;
    min-width: 600px;
    padding: 0;
    margin: 100px auto;
    background-color: white;
    border: 1px solid black;
}
.btn {
    cursor: pointer;
    width: 22%;
    height: 30px;
    border: 1px solid black;
    margin: 5px 7px;
    background-color: white;
    font-size: 15px;
}
.link{
    text-decoration-line: none;
}
.cal{
    width: 90%;
    margin: 0 auto;
}
.input{
    padding-right: 5px;
    text-align: right;
    margin: 10px 0;
    width: 99%;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
}