.btn {
    cursor: pointer;
    width: 22%;
    height: 30px;
    border: 1px solid black;
    margin: 5px 7px;
    background-color: white;
    font-size: 15px;
}
.btn:hover{
    background: #61dafb;
}
.link{
    text-decoration-line: none;
}
.foot{
    text-align: right;
}
.body{
    margin: 20px;
    padding: 20px;
}

.item{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.item:hover{
    background: #61dafb;
    cursor: pointer;
}
.delete{
    margin-left: 370px;
}